html 
    head 
        link(rel="stylesheet", href="/public/css/style.css")
        title BlogChef-Admin 
    body 
        .container 
         h1#admin-title BlogChef-Admin 
         #login-panel 
            h3 Login to your account 
            form(method="post" action="/admin/login" name="loginForm")
                input(type="text" name="email" placeholder="E-Mail")
                input(type="password" name="passwprd" placeholder="Password")
                button(type="submit" id="loginBtn") Login
        script(src="/public/js/main.js")